# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Other files not required for gh-pages
gh-pages.js
tsconfig.json
package-lock.json
README.md
NOTES.md
.gitignore
.prettierrc
tsconfig.app.json
build-elements-post.js
tsconfig.spec.json
sample.json
karma.conf.js
build-elements-pre.js
build-elements.js
package.json
tslint.json
angular.json
browserslist
