<div class="nivite-wrap">

  <nav class="nivite navbar navbar-dark bg-nivite text-white fixed-top shadow">
    <a class="navbar-brand" href="//jrvite.com">
      Nivite
      <span class="nivite-moto d-block">The nerdy way!</span>
    </a>
    <ng-container *ngIf="loading;else loaded">
      <a class="nav-link btn btn-sm my-2 mr-0 border-0">
        <i class="fas fa-circle-notch fa-spin"></i> Loading...
      </a>
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="!invite;else showrsvp">
        <a class="nav-link btn btn-sm my-2 mr-0 border-0">
          <i class="far fa-frown-open"></i> Error <i class="fas fa-heart-broken"></i>
          <small class="ml-2">Going <a class="text-white" [href]="redirectUrl">home</a> in
            <strong>{{counter}}</strong></small>
        </a>
      </ng-container>
      <ng-template #showrsvp>
        <a class="nav-link btn btn-sm btn-outline-warning my-2 mr-0" data-toggle="modal" data-target="#niviteRsvpModal"
          [hidden]="isHostOrCollab()"><i class="fas fa-paper-plane mr-2"></i>Rsvp
          <span *ngIf="getRsvp()" class="badge" [ngClass]="getRsvpBadgeClass()">{{getRsvp()}} {{getUnApproved()}}</span>
        </a>
      </ng-template>
    </ng-template>
    <ng-container *ngIf="invite && !loading">
      <button *ngIf="invite" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#niviteNavBar"
        aria-controls="niviteNavBar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="niviteNavBar">
        <a class="nav-link btn btn-sm btn-outline-warning my-2 mr-0" (click)="navigateToMaps()"><i
            class="fas fa-map-marker-alt mr-2"></i>Navigate</a>
        <!--<a class="nav-link btn btn-sm btn-outline-warning my-2 mr-0" data-toggle="modal"
          data-target="#niviteRsvpModal" [hidden]="isHostOrCollab()"><i class="fas fa-paper-plane mr-2"></i>Rsvp
          <span *ngIf="getRsvp()" class="badge" [ngClass]="getRsvpBadgeClass()">{{getRsvp()}}</span>
        </a>-->
        <a class="nav-link btn btn-sm btn-outline-warning my-2 mr-0" data-toggle="modal"
          data-target="#niviteCalendarModal"><i class="fas fa-calendar-alt mr-2"></i>Add to
          Calendar</a>
      </div>
    </ng-container>
  </nav>











  <!-- Start: Rsvp Modal -->
  <div class="modal fade" id="niviteRsvpModal" tabindex="-1" role="dialog" aria-labelledby="niviteRsvpModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="niviteRsvpModalTitle">
            Respond <strong
              [ngClass]="isYOrNOrM('Y')?'text-success':isYOrNOrM('N')?'text-danger':isYOrNOrM('M')?'text-warning':''">
              {{getRsvp()}} {{getUnApproved()}} </strong>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="fg" *ngIf="fg">
            <div class="form-group" *ngIf="showEmailInRsvpModalForm">
              <label for="niviteRsvpModalFormEmail">Email address</label>
              <div class="input-group">
                <input type="email" class="form-control" id="niviteRsvpModalFormEmail" formControlName="email"
                  aria-describedby="Your email address" placeholder="Enter email" #emailFormControl>
              </div>
              <small class="form-text text-muted">
                <ng-container *ngIf="(invite.customerInvite && invite.customerInvite.customer);else newemail">
                  Change it if its not your email address.
                </ng-container>
                <ng-template #newemail>
                  Email address for communications
                </ng-template>
              </small>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="niviteRsvpModalFormAdultCount">Adults</label>
                  <input type="number" class="form-control" id="niviteRsvpModalFormAdultCount" formControlName="ac"
                    aria-describedby="Number of adults">
                  <small class="form-text text-muted">Number of adults</small>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="niviteRsvpModalFormKidCount">Kids</label>
                  <input type="number" class="form-control" id="niviteRsvpModalFormKidCount" formControlName="kc"
                    aria-describedby="Number of kids">
                  <small class="form-text text-muted">Number of kids (~12 years old)</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="niviteRsvpModalFormLongMsg">Message</label>
              <textarea type="number" class="form-control" id="niviteRsvpModalFormLongMsg" formControlName="longMsg"
                aria-describedby="Optional message to the host" rows="3"></textarea>
              <small class="form-text text-muted">Optional message to the host</small>
            </div>
            <div class="btn-group d-flex">
              <button type="button" class="btn btn-success" (click)="saveRsvp('Y')" [disabled]="savingrsvp">
                <span class="d-inline mr-2"><i class="fas fa-check"></i></span>
                <span class="d-sm-inline d-none">Yes</span>
              </button>
              <button type="button" class="btn btn-warning" (click)="saveRsvp('M')" [disabled]="savingrsvp">
                <span class="d-inline mr-2"><i class="fas fa-question"></i></span>
                <span class="d-sm-inline d-none">Maybe</span>
              </button>
              <button type="button" class="btn btn-danger" (click)="saveRsvp('N')" [disabled]="savingrsvp">
                <span class="d-inline mr-2"><i class="fas fa-times"></i></span>
                <span class="d-sm-inline d-none">No</span>
              </button>
            </div>
            <div class="row justify-content-between" *ngIf="!showEmailInRsvpModalForm">
              <a class="col small pointer" (click)="changeEmail($event)" href="#">
                Not {{fg.get('email').value}}?
              </a>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="resetRsvpForm()">Reset</button>
          <button type="button" class="btn btn-secondary" (click)="resetChangeEmail()"
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Rsvp Modal-->











  <!-- Start: Calendar Modal -->
  <div class="modal fade" id="niviteCalendarModal" tabindex="-1" role="dialog"
    aria-labelledby="niviteCalendarModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="niviteCalendarModalTitle">Select Calendar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="btn-group d-flex">
            <button class="btn text-white bg-apple" (click)="atc.apple(invite)">
              <span class="d-inline mr-2"><i class="fab fa-apple"></i></span>
              <span class="d-sm-inline d-none">Apple</span>
            </button>
            <button class="btn text-white bg-google" (click)="atc.google(invite)">
              <span class="d-inline mr-2"><i class="fab fa-google"></i></span>
              <span class="d-sm-inline d-none">Google</span>
            </button>
            <button class="btn text-white bg-microsoft" (click)="atc.microsoft(invite)">
              <span class="d-inline mr-2"><i class="fab fa-microsoft"></i></span>
              <span class="d-sm-inline d-none">Microsoft</span>
            </button>
            <button class="btn text-white bg-yahoo" (click)="atc.yahoo(invite)">
              <span class="d-inline mr-2"><i class="fab fa-yahoo"></i></span>
              <span class="d-sm-inline d-none">Yahoo</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bg-white text-dark" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Calendar Modal -->
</div>