@import 'anim.scss';

/* set body margin */
body {
  @include animation('applymargin 1s 1');
  margin-top: 90px;
}


div#nivite {
  @import '~bootstrap/scss/bootstrap.scss';
  @import url('https://fonts.googleapis.com/css?family=Roboto|Patua+One&display=swap');

  .pointer {
    cursor: pointer;
  }

  //Manage Display Headers for Mobile Devices
  @media (max-width: 575.98px) {
    .display-1 {
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.0;
    }

    .display-2 {
      font-size: 2.75rem;
      font-weight: 300;
      line-height: 1.0;
    }

    .display-3 {
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.0;
    }

    .display-4 {
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 1.0;
    }
  }

  .nivite-wrap {
    font-family: 'Roboto', sans-serif,
      -apple-system,
      system-ui,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }

  .navbar-brand {
    padding-bottom: 0 !important;
    font-family: 'Patua One';
  }

  .nivite-moto {
    font-size: 0.55rem;
    position: relative;
    top: -.3em;
  }

  .bg-nivite {
    background-color: #ba3d16;
  }

  .bg-apple {
    background-color: #a3aaae;
  }

  .bg-google {
    background-color: #4285F4;
  }

  .bg-microsoft {
    background-color: #00a4ef;
  }

  .bg-yahoo {
    background-color: #410093;
  }

  /* 
  Handle all clicks on the dom which has niviteclick.
  Do not let it go to its children.
  Ref: https://stackoverflow.com/a/50792013/234110
*/
  *[niviteclick] * {
    pointer-events: none;
  }

  .swing {
    @include animation('swing 1s 1');
  }

  .nivite.navbar {
    @include animation('pulldown 1s 1');
  }

  .modal::before {
    content: '';
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #454545;
    opacity: 0.7;
    margin: -500px;
  }
}